@import '../common/color.css';

.x-select {
    display: inline-block;
    width: 100%;
}

.x-select__pop {
    width: 100%;
}

.x-select__trigger {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-height: 32px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    color: var(--primary-text-color);
    overflow: hidden;
    transition: all 0.2s;

    &:hover {
        border-color: var(--primary-color);
    }
}

.x-select__selection {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
    cursor: pointer;
}

.x-select__input {
    outline: none;
    border: none;
    width: 100%;
    min-width: 0;
    height: 100%;
    padding: 0 10px;

    &:-webkit-autofill {
        transition: background-color 5000s ease-in;
    }
}

.x-select__tag {
    margin: 2px 0 2px 4px;
}

.x-select__icon-wrapper {
    width: 30px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    cursor: pointer;

    & .icon {
        transition: all 0.24s;    
    }
}

.x-select__icon-wrapper:hover .icon-x {
    color: var(--error-color);
}

.x-select--active {
    & .x-select__trigger {
        border-color: var(--primary-color);
        box-shadow: 0 0 8px var(--primary-color);
    }

    & .icon-chevron-down {
        transform: rotate(180deg);
    }
}

.x-select__list {
    list-style-type: none;
    padding: 4px 0;
}

.x-select__loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
}
