@import '../common/color.css';

.x-select {
    display: inline-block;
    width: 100%;
}

.x-select__pop {
    width: 100%;
}

.x-select__icon-wrapper {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    cursor: pointer;

    & .icon-x {
        transition: all 0.24s;    
    }

    & .icon-chevron-down {
        transition: all 0.24s;
    }
}

.x-select__icon-wrapper:hover .icon-x {
    color: var(--error-color);
}

.x-select--active .icon-chevron-down {
    transform: rotate(180deg);
}

.x-select__list {
    list-style-type: none;
    padding: 4px 0;
}

.x-select__loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
}
