@import '../button/index.css';
@import '../form/index.css';
@import '../input/index.css';

.rdf-paginator {
  display: flex;
  align-items: center;
  user-select: none;

  .rdf-paginator__items {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item,
  &__prev,
  &__more:not(:last-of-type) {
    min-width: 32px;
    margin-right: 8px;
    padding:  0 4px;
    transition-duration: 0s;
  }

  &__jumper-wrap {
    margin-bottom: 0;
  }

  &__jumper {
    width: 50px;
  }
}
