@import '../common/color.css';

.x-switch {
  --switch-width: 36px;
  --switch-height: 20px;
  --indicator-size: 16px;
  --gap-width: calc((var(--switch-height) - var(--indicator-size)) / 2);
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  min-width: var(--switch-width);
  height: var(--switch-height);
  border-radius: calc(var(--switch-height) / 2);
  background-color: var(--border-color);
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
  transition: all .2s;

  &__indicator {
    content: '';
    position: absolute;
    top: var(--gap-width);
    left: var(--gap-width);
    width: var(--indicator-size);
    height: var(--indicator-size);
    border-radius: 100%;
    background: #fff;
    will-change: left;
    transition: all .3s;
  }

  &__check-child,
  &__uncheck-child {
    line-height: 1;
    padding: 0 6px;
    user-select: none;
  }

  &__check-child {
    margin-right: calc(var(--indicator-size) + var(--gap-width));
  }

  &__uncheck-child {
    margin-left: calc(var(--indicator-size) + var(--gap-width));
  }

  &--checked {
    justify-content: flex-start;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 8px -1px var(--primary-color);

    .x-switch__indicator {
      left: calc(100% - var(--indicator-size) - var(--gap-width));
    }
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}
