@import '../common/color.css';

.x-select-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.24s;

    &:hover {
        background-color: var(--background-blue);
    }
}

.x-select-option--selected {
    background-color: var(--grey-lightest);
    font-weight: 700;
}
