@import '../common/color.css';

:root {
    --checkbox-size: 16px;
}

.x-checkbox {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    vertical-align: middle;

    & input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
}

.x-checkbox__label {
    font-weight: normal;
    font-size: 14px;
    color: var(--primary-text-color);
    line-height: 1;
}

.x-checkbox__indicator {
    position: relative;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    margin-right: 8px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 0.1s, border-color 0.2s, box-shadow 0.1s;
    transition-delay: 0.2s, 0s, 0.2s;
}

.x-checkbox__line {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 10px;
    height: 6px;
    border-bottom-left-radius: 1px;
    transform: rotate(-45deg);
    overflow: hidden;
}

.x-checkbox__line::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: white;
    border-radius: 1px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.1s;
    transition-delay: 0.1s;
}

.x-checkbox__line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1px;
    width: calc(100% - 1px);
    height: 2px;
    background-color: white;
    border-radius: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.1s;
}

.x-checkbox:hover {
    & .x-checkbox__indicator {
        border-color: var(--primary-color);
    }
}

.x-checkbox--checked {
    & .x-checkbox__indicator {
        border-color: var(--primary-color);
        background: var(--primary-color);
        box-shadow: 0 0 8px var(--primary-color);
        transition-delay: 0s;
    }
}

.x-checkbox--checked .x-checkbox__line::before {
    transform: scaleY(1);
    transition-delay: 0.1s;
}

.x-checkbox--checked .x-checkbox__line::after {
    transform: scaleX(1);
    transition-delay: 0.2s;
}

/**
 * disabled
 */
.x-checkbox--disabled {
    & input {
        cursor: not-allowed;
    }

    & .x-checkbox__label {
        color: var(--grey-light);
    }
}

.x-checkbox--disabled .x-checkbox__indicator {
    background-color: var(--grey-lightest);
    border-color: var(--grey-lighter);
}

.x-checkbox--disabled:hover {
    & .x-checkbox__indicator {
        background-color: var(--grey-lightest);
        border-color: var(--grey-lighter);
    }
}

.x-checkbox--disabled.x-checkbox--checked {
    & .x-checkbox__indicator {
        box-shadow: none;
    }
    & .x-checkbox__line::before,
    & .x-checkbox__line::after {
        background-color: var(--grey-light);
    }
}

.x-checkbox+.x-checkbox {
    margin-left: 24px;
}
