@import '../common/color.css';

.rdf-pop {
  position: relative;
  display: inline-block;
  color: var(--text-color);
  transition: all .2s;

  &__content {
    position: absolute;
    display: none;
    opacity: 0;
    z-index: 1099;
    transition: all .2s;
  }

  &__content-inner {
    padding: 6px 12px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--text-color);
  }

  &__content-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .08);
    box-sizing: border-box;
  }
}

[class*="rdf-pop__content--bottom-"] {
  padding-top: 10px;
}

[class*="rdf-pop__content--top-"] {
  padding-bottom: 10px;
}

[class*="rdf-pop__content--left-"] {
  padding-right: 10px;
}

[class*="rdf-pop__content--right-"] {
  padding-left: 10px;
}

.rdf-pop__content {
  &--bottom-left {
    --x: 0;
    --y: -4px;
    --x2: 0;
    --y2: 0;

    & .rdf-pop__content-arrow {
      top: 5px;
      left: 8px;
      transform: rotate(-135deg);
    }
  }

  &--bottom-center {
    --x: -50%;
    --y: -4px;
    --x2: -50%;
    --y2: 0;

    & .rdf-pop__content-arrow {
      top: 5px;
      left: 50%;
      transform: translateX(-50%) rotate(-135deg);
    }
  }

  &--bottom-right {
    --x: -100%;
    --y: -4px;
    --x2: -100%;
    --y2: 0;

    & .rdf-pop__content-arrow {
      top: 5px;
      right: 8px;
      transform: rotate(-135deg);
    }
  }

  &--top-left {
    --x: 0;
    --y: calc(-100% + 4px);
    --x2: 0;
    --y2: calc(-100%);

    & .rdf-pop__content-arrow {
      bottom: 5px;
      left: 8px;
      transform: rotate(45deg);
    }
  }

  &--top-center {
    --x: -50%;
    --y: calc(-100% + 4px);
    --x2: -50%;
    --y2: -100%;

    & .rdf-pop__content-arrow {
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &--top-right {
    --x: -100%;
    --y: calc(-100% + 4px);
    --x2: -100%;
    --y2: -100%;

    & .rdf-pop__content-arrow {
      bottom: 5px;
      right: 8px;
      transform: rotate(45deg);
    }
  }

  &--left-top {
    --x: calc(-100% + 4px);
    --y: 0;
    --x2: -100%;
    --y2: 0;

    & .rdf-pop__content-arrow {
      top: 8px;
      right: 5px;
      transform: rotate(-45deg);
    }
  }

  &--left-center {
    --x: calc(-100% + 4px);
    --y: -50%;
    --x2: -100%;
    --y2: -50%;

    & .rdf-pop__content-arrow {
      top: 50%;
      right: 5px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &--left-bottom {
    --x: calc(-100% + 4px);
    --y: -100%;
    --x2: -100%;
    --y2: -100%;

    & .rdf-pop__content-arrow {
      bottom: 8px;
      right: 5px;
      transform: rotate(-45deg);
    }
  }

  &--right-top {
    --x: -4px;
    --y: 0;
    --x2: 0;
    --y2: 0;

    & .rdf-pop__content-arrow {
      top: 8px;
      left: 5px;
      transform: rotate(135deg);
    }
  }

  &--right-center {
    --x: -4px;
    --y: -50%;
    --x2: 0;
    --y2: -50%;

    & .rdf-pop__content-arrow {
      top: 50%;
      left: 5px;
      transform: translateY(-50%) rotate(135deg);
    }
  }

  &--right-bottom {
    --x: -4px;
    --y: -100%;
    --x2: 0;
    --y2: -100%;

    & .rdf-pop__content-arrow {
      bottom: 8px;
      left: 5px;
      transform: rotate(135deg);
    }
  }
}

.rdf-pop-anim {
  &--enter {
    display: block;
    transform: translate3d(var(--x), var(--y), 0);
  }

  &--enter-active,
  &--enter-done {
    display: block;
    opacity: 1;
    transform: translate3d(var(--x2), var(--y2), 0);
  }

  &--exit {
    display: block;
    opacity: 1;
    transform: translate3d(var(--x2), var(--y2), 0);
  }

  &--exit-active {
    opacity: 0;
    transform: translate3d(var(--x), var(--y), 0);
    pointer-events: none;
  }
}
