@import '../common/color.css';

.x-pop {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: var(--primary-text-color);
    transition: all 0.24s;
}

.x-pop--disabled {
    cursor: not-allowed;
}

.x-pop__wrapper {
    position: absolute;
    min-width: 100%;
    max-height: 200px;
    opacity: 0;
    z-index: 999;
    display: none;
}

.x-pop__content {
    background-color: white;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border-radius: 4px;
    overflow: auto;
}

.x-pop__wrapper--bottom-left,
.x-pop__wrapper--bottom-center,
.x-pop__wrapper--bottom-right {
    padding-top: 4px;
}

.x-pop__wrapper--top-left,
.x-pop__wrapper--top-center,
.x-pop__wrapper--top-right {
    padding-bottom: 4px;
}

.x-pop__wrapper--left-top,
.x-pop__wrapper--left-center,
.x-pop__wrapper--left-bottom {
    padding-right: 4px;
}

.x-pop__wrapper--right-top,
.x-pop__wrapper--right-center,
.x-pop__wrapper--right-bottom {
    padding-left: 4px;
}

.x-pop__wrapper--bottom-left {
    top: 100%;
    left: 0;
}

.x-pop__wrapper--bottom-center {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.x-pop__wrapper--bottom-right {
    top: 100%;
    right: 0;
}

.x-pop__wrapper--top-left {
    bottom: 100%;
    left: 0;
}

.x-pop__wrapper--top-center {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.x-pop__wrapper--top-right {
    bottom: 100%;
    right: 0;
}

.x-pop__wrapper--left-top {
    top: 0;
    right: 100%;
}

.x-pop__wrapper--left-center {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.x-pop__wrapper--left-bottom {
    bottom: 0;
    right: 100%;
}

.x-pop__wrapper--right-top {
    top: 0;
    left: 100%;
}

.x-pop__wrapper--right-center {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.x-pop__wrapper--right-bottom {
    bottom: 0;
    left: 100%;
}

/*
 * bottom-left
 */
.bottom-left--enter,
.bottom-right--enter {
    display: block;
    transform: translate3d(0,-4px,0) scale3d(1,0.9,1);
    transform-origin: top;
}

.bottom-left--enter.bottom-left--enter-active,
.bottom-right--enter.bottom-right--enter-active {
    opacity: 1;
    transform: translate3d(0,0,0) scale3d(1,1,1);
    transition: all 0.4s;
}

.bottom-left--exit,
.bottom-right--exit {
    display: block;
    opacity: 1;
    transform: translate3d(0,0,0) scale3d(1,1,1);
    transform-origin: top;
    pointer-events: none;
}

.bottom-left--exit.bottom-left--exit-active,
.bottom-right--exit.bottom-right--exit-active {
    opacity: 0;
    transform: translate3d(0,-4px,0) scale3d(1,0.9,1);
    transition: all 0.4s;
}

/*
 * bottom center
 */
.bottom-center--enter {
    display: block;
    transform: translate3d(-50%,-4px,0);
}

.bottom-center--enter.bottom-center--enter-active {
    opacity: 1;
    transform: translate3d(-50%,0,0);
    transition: all 0.4s;
}

.bottom-center--exit {
    display: block;
    opacity: 1;
    transform: translate3d(-50%,0,0);
    pointer-events: none;
}

.bottom-center--exit.bottom-center--exit-active {
    opacity: 0;
    transform: translate3d(-50%,-4px,0);
    transition: all 0.4s;
}

/*
 * top-left
 */
.top-left--enter,
.top-right--enter {
    display: block;
    transform: translate3d(0,4px,0);
}

.top-left--enter.top-left--enter-active,
.top-right--enter.top-right--enter-active {
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all 0.4s;
}

.top-left--exit,
.top-right--exit {
    display: block;
    opacity: 1;
    transform: translate3d(0,0,0);
    pointer-events: none;
}

.top-left--exit.top-left--exit-active,
.top-right--exit.top-right--exit-active {
    opacity: 0;
    transform: translate3d(0,4px,0);
    transition: all 0.4s;
}

/*
 * top-center
 */
.top-center--enter {
    display: block;
    transform: translate3d(-50%,4px,0);
}

.top-center--enter.top-center--enter-active {
    opacity: 1;
    transform: translate3d(-50%,0,0);
    transition: all 0.4s;
}

.top-center--exit {
    display: block;
    opacity: 1;
    transform: translate3d(-50%,0,0);
    pointer-events: none;
}

.top-center--exit.top-center--exit-active {
    opacity: 0;
    transform: translate3d(-50%,4px,0);
    transition: all 0.4s;
}

/*
 * left-top
 */
.left-top--enter,
.left-bottom-enter {
    display: block;
    transform: translate3d(4px,0,0);
}

.left-top--enter.left-top--enter-active,
.left-bottom--enter.left-bottom--enter-active {
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all 0.4s;
}

.left-top--exit,
.left-bottom--exit {
    display: block;
    opacity: 1;
    transform: translate3d(0,0,0);
    pointer-events: none;
}

.left-top--exit.left-top--exit-active,
.left-bottom--exit.left-bottom--exit-active {
    opacity: 0;
    transform: translate3d(4px,0,0);
    transition: all 0.4s;
}

/*
 * left-center
 */
.left-center--enter {
    display: block;
    transform: translate3d(4px,-50%,0);
}

.left-center--enter.left-center--enter-active {
    opacity: 1;
    transform: translate3d(0,-50%,0);
    transition: all 0.4s;
}

.left-center--exit {
    display: block;
    opacity: 1;
    transform: translate3d(0,-50%,0);
    pointer-events: none;
}

.left-center--exit.left-center--exit-active {
    opacity: 0;
    transform: translate3d(4px,-50%,0);
    transition: all 0.4s;
}

/*
 * right-top
 */
.right-top--enter,
.right-bottom-enter {
    display: block;
    transform: translate3d(-4px,0,0);
}

.right-top--enter.right-top--enter-active,
.right-bottom--enter.right-bottom--enter-active {
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all 0.4s;
}

.right-top--exit,
.right-bottom--exit {
    display: block;
    opacity: 1;
    transform: translate3d(0,0,0);
    pointer-events: none;
}

.right-top--exit.right-top--exit-active,
.right-bottom--exit.right-bottom--exit-active {
    opacity: 0;
    transform: translate3d(-4px,0,0);
    transition: all 0.4s;
}

/*
 * right-center
 */
.right-center--enter {
    display: block;
    transform: translate3d(-4px,-50%,0);
}

.right-center--enter.right-center--enter-active {
    opacity: 1;
    transform: translate3d(0,-50%,0);
    transition: all 0.4s;
}

.right-center--exit {
    display: block;
    opacity: 1;
    transform: translate3d(0,-50%,0);
    pointer-events: none;
}

.right-center--exit.right-center--exit-active {
    opacity: 0;
    transform: translate3d(-4px,-50%,0);
    transition: all 0.4s;
}
