@import '../common/color.css';

.popup-dialog {
    min-width: 200px;
}

.popup-dialog__header {
    padding: 14px 14px 0 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: var(--header-text-color);
}

.popup-dialog__body {
    padding: 14px;
    font-size: 14px;
    line-height: 22px;
    color: var(--primary-text-color);
}

.popup-dialog__footer {
    padding: 0 14px 14px 14px;
}

.popup-dialog__footer::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

.popup-dialog__cancel-btn,
.popup-dialog__confirm-btn {
    float: right;
}

.popup-dialog__cancel-btn {
    margin-right: 8px;
}