@import '../styles/base.less';

.rdf-tag {
  min-height: 20px;
  padding: 0 6px;
  cursor: default;

  &--clickable {
    cursor: pointer;
  }

  &--closable.rdf-button {
    padding-right: 0;
  }

  &--with-border.rdf-button {
    border-color: currentColor;

    &:hover:not([data-disabled='true']) {
      border-color: currentColor;
    }

    &:active:not([data-disabled='true']) {
      border-color: currentColor;
    }
  }

  &__close {
    padding: 3px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: @error-color;
    }
  }
}
