@import '../common/color.css';

:root {
    --tag-height: 22px;
}

.x-tag {
    display: inline-flex;
    align-items: center;
    height: var(--tag-height);
    padding: 0 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
}

.x-tag .icon-x {
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    transition: opacity 0.24s;
    &:hover {
        opacity: 0.6;
    }
}

.x-tag--default {
    color: var(--primary-text-color);
}

.x-tag--primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.x-tag--success {
    border-color: var(--success-color);
    background-color: var(--success-color);
}

.x-tag--warning {
    border-color: var(--warning-color);
    background-color: var(--warning-color);
}

.x-tag--error {
    border-color: var(--error-color);
    background-color: var(--error-color);
}

.x-tag--round {
    border-radius: calc(var(--tag-height) / 2);
}

.x-tag--closable {
    padding-right: 0;
}
