@import '../pop/index.css';

.rdf-tooltip__content {
  --tooltip-bg-color: rgba(0,0,0,.75);

  & .rdf-pop__content-inner {
    background-color: var(--tooltip-bg-color);
    color: #fff;
  }

  & .rdf-pop__content-arrow {
    border-right-color: var(--tooltip-bg-color);
    border-bottom-color: var(--tooltip-bg-color);
  }
}
