@import '../common/color.css';

.my-breadcrumb {
    font-size: 14px;
    line-height: 22px;
}

.my-breadcrumb__separator {
    margin: 0 8px;
    color: var(--secondary-text-color);
}

.my-breadcrumb__wrapper:not(:last-child) {
    & .my-breadcrumb__item,
    & .my-breadcrumb__item a {
        color: var(--secondary-text-color);
        cursor: pointer;
        transition: color 0.24s;
    }

    & .my-breadcrumb__item:hover,
    & .my-breadcrumb__item a:hover {
        color: var(--primary-color);
        text-decoration: none;
    }
}

.my-breadcrumb__wrapper:last-child {
    & .my-breadcrumb__item,
    & .my-breadcrumb__item a {
        color: var(--primary-text-color);
        cursor: auto;
    }

    & .my-breadcrumb__separator {
        display: none;
    }
}