@import '../../common/color.css';

.x-pop-menu-item {
  display: flex;
  align-items: center;
  min-height: 32px;
  padding: 0 12px;
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
  transition: all .2s;
  cursor: pointer;

  &:not(.x-pop-menu-item--disabled) {
    &:hover {
      background: color-mod(var(--primary-color) tint(85%));
    }

    &:active {
      background: color-mod(var(--primary-color) tint(75%));
    }
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  & + .x-pop-menu__group {
    border-top: 1px solid var(--border-lightest);
  }
}
