.jm-radio {
  --default-size: 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__indicator {
    position: relative;
    width: var(--default-size);
    height: var(--default-size);
    margin-right: 8px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    transition: all 0.2s;
    overflow: hidden;
  
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -5px -5px;
      width: 10px;
      height: 10px;
      background: var(--primary-color);
      border-radius: 50%;
      transform: scale(0);
      transition: all 0.2s;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 1;
    color: var(--text-color);
  }

  & + .jm-radio {
    margin-left: 24px;
  }

  &:hover:not(&--disabled) {
    & .jm-radio__indicator {
      border-color: var(--primary-color);

      &::before {
        border-color: var(--primary-color);
      }
    }
  }
}

.jm-radio--checked {
  & .jm-radio__indicator {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color);

    &::before {
      transform: scale(1);
    }
  }
}

.jm-radio--disabled {
  opacity: .5;
  cursor: not-allowed;

  & .jm-radio__indicator {
    box-shadow: none;
  }
}

/*
.jm-radio--disabled {
  & input {
    cursor: not-allowed;
  }
  & .jm-radio__label {
    color: var(--grey-light);
  }
  & .jm-radio__indicator {
    border-color: var(--grey-lighter);
  }
}

.jm-radio--disabled:hover {
  & .jm-radio__indicator {
    border-color: var(--grey-lighter);
  }
}

.jm-radio--disabled:hover .jm-radio__indicator::before {
  border-color: var(--grey-light);
}

.jm-radio--disabled.jm-radio--checked {
  & .jm-radio__indicator {
    border-color: var(--grey-lighter);
    background-color: var(--grey-lightest);
    box-shadow: none;
  }
  & .jm-radio__indicator::before {
    background-color: var(--grey-light);
  }
}
*/
