.jm-radio {
  --default-size: 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &__indicator {
    position: relative;
    width: var(--default-size);
    height: var(--default-size);
    margin-right: 8px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    transition: all .3s;
    overflow: hidden;
  
    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border-radius: 50%;
      border: 0 solid var(--border-color);
      transition: all .2s;
    }
  }

  &__label {
    font-size: 14px;
    line-height: 1;
    color: var(--text-color);
  }

  & + .jm-radio {
    margin-left: 24px;
  }

  &:hover:not(&--disabled) {
    & .jm-radio__indicator {
      border-color: var(--primary-color);
    }
  }
}

.jm-radio--checked {
  & .jm-radio__indicator {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px -1px var(--primary-color);

    &::before {
      border-width: 5px;
      border-color: var(--primary-color);
      will-change: border-width;
    }
  }
}

.jm-radio--disabled {
  opacity: .5;
  cursor: not-allowed;
}

/*
.jm-radio--disabled {
  & input {
    cursor: not-allowed;
  }
  & .jm-radio__label {
    color: var(--grey-light);
  }
  & .jm-radio__indicator {
    border-color: var(--grey-lighter);
  }
}

.jm-radio--disabled:hover {
  & .jm-radio__indicator {
    border-color: var(--grey-lighter);
  }
}

.jm-radio--disabled:hover .jm-radio__indicator::before {
  border-color: var(--grey-light);
}

.jm-radio--disabled.jm-radio--checked {
  & .jm-radio__indicator {
    border-color: var(--grey-lighter);
    background-color: var(--grey-lightest);
    box-shadow: none;
  }
  & .jm-radio__indicator::before {
    background-color: var(--grey-light);
  }
}
*/
