@import '../../common/color.css';

.x-pop {
  position: relative;
  display: inline-block;
  color: var(--text-color);
  transition: all .2s;

  &__content {
    position: absolute;
    display: none;
    opacity: 0;
    z-index: 999;
  }

  &__content-inner {
    max-height: 200px;
    padding: 6px 12px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-color);
  }

  &__content-arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid transparent;
    border-right-color: #fff;
    border-bottom-color: #fff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .08);
    box-sizing: border-box;
  }
}

[class*="x-pop__content--bottom-"] {
  padding-top: 4px;
}

[class*="x-pop__content--top-"] {
  padding-bottom: 4px;
}

[class*="x-pop__content--left-"] {
  padding-right: 4px;
}

[class*="x-pop__content--right-"] {
  padding-left: 4px;
}

.x-pop__content {
  &--bottom-left {
    --x: 0;
    --y: -4px;
    --x2: 0;
    --y2: 0;

    & .x-pop__content-arrow {
      top: 1px;
      left: 8px;
      transform: rotate(-135deg);
    }
  }

  &--bottom-center {
    --x: -50%;
    --y: -4px;
    --x2: -50%;
    --y2: 0;

    & .x-pop__content-arrow {
      top: 1px;
      left: 50%;
      transform: translateX(-50%) rotate(-135deg);
    }
  }

  &--bottom-right {
    --x: -100%;
    --y: -4px;
    --x2: -100%;
    --y2: 0;

    & .x-pop__content-arrow {
      top: 1px;
      right: 8px;
      transform: rotate(-135deg);
    }
  }

  &--top-left {
    --x: 0;
    --y: 4px;
    --x2: 0;
    --y2: 0;

    & .x-pop__content-arrow {
      bottom: 1px;
      left: 8px;
      transform: rotate(45deg);
    }
  }

  &--top-center {
    --x: -50%;
    --y: 4px;
    --x2: -50%;
    --y2: 0;

    & .x-pop__content-arrow {
      bottom: 1px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }

  &--top-right {
    --x: -100%;
    --y: 4px;
    --x2: -100%;
    --y2: 0;

    & .x-pop__content-arrow {
      bottom: 1px;
      right: 8px;
      transform: rotate(45deg);
    }
  }

  &--left-top {
    --x: 4px;
    --y: 0;
    --x2: 0;
    --y2: 0;

    & .x-pop__content-arrow {
      top: 8px;
      right: 1px;
      transform: rotate(-45deg);
    }
  }

  &--left-center {
    --x: 4px;
    --y: -50%;
    --x2: 0;
    --y2: -50%;

    & .x-pop__content-arrow {
      top: 50%;
      right: 1px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &--left-bottom {
    --x: 4px;
    --y: -100%;
    --x2: 0;
    --y2: -100%;

    & .x-pop__content-arrow {
      bottom: 8px;
      right: 1px;
      transform: rotate(-45deg);
    }
  }

  &--right-top {
    --x: -4px;
    --y: 0;
    --x2: 0;
    --y2: 0;

    & .x-pop__content-arrow {
      top: 8px;
      left: 1px;
      transform: rotate(135deg);
    }
  }

  &--right-center {
    --x: -4px;
    --y: -50%;
    --x2: 0;
    --y2: -50%;

    & .x-pop__content-arrow {
      top: 50%;
      left: 1px;
      transform: translateY(-50%) rotate(135deg);
    }
  }

  &--right-bottom {
    --x: -4px;
    --y: -100%;
    --x2: 0;
    --y2: -100%;

    & .x-pop__content-arrow {
      bottom: 8px;
      left: 1px;
      transform: rotate(135deg);
    }
  }
}

.x-pop-anim {
  &--enter {
    display: block;
    transform: translate3d(var(--x), var(--y), 0);
  }

  &--enter-active,
  &--enter-done {
    display: block;
    opacity: 1;
    transform: translate3d(var(--x2), var(--y2), 0);
    transition: all .2s;
  }

  &--exit {
    display: block;
    opacity: 1;
    transform: translate3d(var(--x2), var(--y2), 0);
  }

  &--exit-active {
    opacity: 0;
    transform: translate3d(var(--x), var(--y), 0);
    pointer-events: none;
    transition: all .2s;
  }
}
