@import '../common/color.css';

:root {
    --default-height: 32px;
    --large-height: 40px;
    --small-height: 24px;
}

.my-button {
    outline: none;
    border: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--default-height);
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background: transparent;
    color: var(--primary-text-color);
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background: var(--border-lightest);
        text-decoration: none;
    }
}

.my-button:active {
    background: var(--border-lighter);
}

.my-button--primary {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: white;
    &:hover {
        border-color: color(var(--primary-color) tint(15%));
        background: color(var(--primary-color) tint(15%));
    }
}

.my-button--primary:active {
    border-color: color(var(--primary-color) shade(10%));
    background: color(var(--primary-color) shade(10%));
}

.my-button--success {
    border-color: var(--success-color);
    background: var(--success-color);
    color: white;
    &:hover {
        border-color: color(var(--success-light) tint(15%));
        background: color(var(--success-light) tint(15%));
    }
}

.my-button--success:active {
    border-color: color(var(--success-light) shade(10%));
    background: color(var(--success-light) shade(10%));
}

.my-button--warning {
    border-color: var(--warning-color);
    background: var(--warning-color);
    color: white;
    &:hover {
        border-color: color(var(--warning-light) tint(15%));
        background: color(var(--warning-light) tint(15%));
    }
}

.my-button--warning:active {
    border-color: color(var(--warning-light) shade(10%));
    background: color(var(--warning-light) shade(10%));
}

.my-button--error {
    border-color: var(--error-color);
    background: var(--error-color);
    color: white;
    &:hover {
        border-color: color(var(--error-light) tint(15%));
        background: color(var(--error-light) tint(15%));
    }
}

.my-button--error:active {
    border-color: color(var(--error-dark) shade(10%));
    background: color(var(--error-dark) shade(10%));
}

/*
 * outline
 */
.my-button--outline {
    border-color: var(--border-color);
    background: transparent;
    &:hover {
        background: var(--border-lightest);
    }
}

.my-button--outline:active {
    background: var(--border-lighter);
}

.my-button--primary.my-button--outline {
    border-color: var(--primary-color);
    color: var(--primary-color);
    &:hover {
        background: color(var(--primary-color) alpha(10%));
    }
}

.my-button--primary.my-button--outline:active {
    background: color(var(--primary-dark) alpha(20%));
}

.my-button--success.my-button--outline {
    border-color: var(--success-color);
    color: var(--success-color);
    &:hover {
        background: color(var(--success-color) alpha(10%));
    }
}

.my-button--success.my-button--outline:active {
    background: color(var(--success-color) alpha(20%));
}

.my-button--warning.my-button--outline {
    border-color: var(--warning-color);
    color: var(--warning-color);
    &:hover {
        background: color(var(--warning-color) alpha(10%));
    }
}

.my-button--warning.my-button--outline:active {
    background: color(var(--warning-color) alpha(20%));
}

.my-button--error.my-button--outline {
    border-color: var(--error-color);
    color: var(--error-color);
    &:hover {
        background: color(var(--error-color) alpha(10%));
    }
}

.my-button--error.my-button--outline:active {
    background: color(var(--error-color) alpha(20%));
}

/*
 * text
 */
.my-button--text {
    border-color: transparent;
    background: transparent;
    &:hover {
        border-color: transparent;
        background: transparent;
        color: color(var(--primary-color) tint(15%));
    }
}

.my-button--text:active {
    color: color(var(--primary-color) shade(10%));
}

.my-button--primary.my-button--text {
    color: var(--primary-color);
    &:hover {
        color: color(var(--primary-color) tint(15%));
    }
}

.my-button--primary.my-button--text:active {
    color: color(var(--primary-color) shade(10%));
}

.my-button--success.my-button--text {
    color: var(--success-color);
    &:hover {
        color: color(var(--success-color) tint(15%));
    }
}

.my-button--success.my-button--text:active {
    color: color(var(--success-color) shade(10%));
}

.my-button--warning.my-button--text {
    color: var(--warning-color);
    &:hover {
        color: color(var(--warning-color) tint(15%));
    }
}

.my-button--warning.my-button--text:active {
    color: color(var(--warning-color) shade(10%));
}

.my-button--error.my-button--text {
    color: var(--error-color);
    &:hover {
        color: color(var(--error-color) tint(15%));
    }
}

.my-button--error.my-button--text:active {
    color: color(var(--error-color) shade(10%));
}

/*
 * circle
 */
.my-button--circle {
    width: var(--default-height);
    border-radius: 50%;
    padding: 0;
}

.my-button--circle.my-button--large {
    width: var(--large-height);
}

.my-button--circle.my-button--small {
    width: var(--small-height);
}

/*
 * size
 */
.my-button--large {
    height: var(--large-height);
    font-size: 14px;
    padding: 8px 16px;
}

.my-button--small {
    height: var(--small-height);
    padding: 2px 10px;
    font-size: 12px;
}

/*
 * disabled
 */
.my-button--disabled {
    background: var(--grey-lightest);
    border-color: var(--grey-lighter);
    color: var(--grey-light);
    cursor: not-allowed;
    &:hover {
        background: var(--grey-lightest);
        border-color: var(--grey-lighter);
    }
}

.my-button--outline.my-button--disabled {
    background: transparent;
    border-color: var(--grey-lighter);
    color: var(--grey-light);
    &:hover {
        background: transparent;
        border-color: var(--grey-lighter);
        color: var(--grey-light);
    }
}

.my-button--text.my-button--disabled {
    background: transparent;
    border-color: transparent;
    color: var(--grey-light);
    &:hover {
        background: transparent;
        color: var(--grey-light);
    }
}

/*
 * round
 */
.my-button--round {
    border-radius: calc(var(--default-height) / 2);
}

.my-button--round.my-button--large {
    border-radius: calc(var(--large-height) / 2);
}

.my-button--round.my-button--small {
    border-radius: calc(var(--small-height) / 2);
}

/*
 * block
 */
.my-button--block {
    width: 100%;
}