@import '../common/color.css';

#rdf-toast-root {
  position: fixed;
  z-index: 9999;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rdf-toast {
  padding-bottom: 20px;
  pointer-events: none;
  opacity: 0;
  transition: all .3s ease-out;

  &__content {
    display: inline-flex;
    align-items: center;
    max-width: 80vw;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 6px;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);
    font-size: 14px;
    line-height: 22px;
    color: var(--text-color);
    transition: all .3s ease-in;
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 10px;
  }

  &--info .rdf-toast {
    &__content {
      border-color: var(--primary-lightest);
    }

    &__icon {
      color: var(--primary-color);
    }
  }

  &--success .rdf-toast {
    &__content {
      border-color: var(--success-lightest);
    }

    &__icon {
      color: var(--success-color);
    }
  }

  &--warning .rdf-toast {
    &__content {
      border-color: var(--warning-lightest);
    }

    &__icon {
      color: var(--warning-color);
    }
  }

  &--error .rdf-toast {
    &__content {
      border-color: var(--error-lightest);
    }

    &__icon {
      color: var(--error-color);
    }
  }
}

.rdf-toast-anim {
  &--enter {
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }

  &--enter-active,
  &--enter-done {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  &--exit {
    max-height: 70px;
    opacity: 1;

    .rdf-toast__content {
      transform: translate3d(0,0,0);
    }
  }

  &--exit-active {
    max-height: 0;
    padding: 0;
    opacity: 0;

    .rdf-toast__content {
      transform: translate3d(0,-100%,0);
    }
  }
}
