.x-radio {
  display: inline-flex;
  align-items: center;
  height: 32px;
  cursor: pointer;

  &__indicator {
    box-sizing: border-box;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    transition: all .2s;
    overflow: hidden;
  
    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      top: -1px;
      left: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border-radius: 50%;
      border: 0 solid var(--border-color);
      transition: all .3s;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 14px;
    line-height: 1;
    color: var(--text-color);
  }

  &:not(:last-child) {
    margin-right: 16px;
  }

  &:hover:not(&--disabled) {
    & .x-radio__indicator {
      border-color: var(--primary-color);
    }
  }
}

.x-radio--checked {
  & .x-radio__indicator {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px -1.5px var(--primary-color);

    &::before {
      border-width: 9px;
      border-color: var(--primary-color);
      transform: scale(.6);
      will-change: border-width;
    }
  }
}

.x-radio--disabled {
  opacity: .5;
  cursor: not-allowed;
}
