.x-select-option {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  color: var(--text-color);
  transition: all .2s;
  cursor: pointer;

  &__item {
    flex: 1;
    font-size: 14px;
    line-height: 18px;
  }

  &__icon {
    font-size: 16px;
    color: var(--primary-color);
  }

  &:not(.x-select-option--disabled) {
    &:hover {
      background: color-mod(var(--primary-color) tint(85%));
    }

    &:active {
      background: color-mod(var(--primary-color) tint(75%));
    }
  }

  &--selected {
    font-weight: 700;
    color: var(--primary-color);
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}
