@import '../../common/color.css';

.x-button {
  --height: 32px;
  --bg-color: transparent;
  --bg-hover: transparent;
  --bg-active: transparent;
  --border-hover: var(--primary-light);
  --border-active: var(--primary-dark);
  --text-hover: var(--primary-light);
  --text-active: var(--primary-dark);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--height);
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  outline: none;
  background: var(--bg-color);
  color: var(--text-color);
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s;

  &:hover:not(&--disabled) {
    background: var(--bg-hover);
    border-color: var(--border-hover);
    color: var(--text-hover);
    text-decoration: none;
  }

  &:active:not(&--disabled) {
    background: var(--bg-active);
    border-color: var(--border-active);
    color: var(--text-active);
  }

  &--primary,
  &--success,
  &--warning,
  &--error {
    --text-color: #fff;
    --text-hover: #fff;
    --text-active: #fff;
  }

  &--primary {
    --bg-color: var(--primary-color);
    --bg-hover: var(--primary-light);
    --bg-active: var(--primary-dark);
    --border-color: var(--primary-color);
    --border-hover: var(--primary-light);
    --border-active: var(--primary-dark);
  }

  &--success {
    --bg-color: var(--success-color);
    --bg-hover: var(--success-light);
    --bg-active: var(--success-dark);
    --border-color: var(--success-color);
    --border-hover: var(--success-light);
    --border-active: var(--success-dark);
  }

  &--warning {
    --bg-color: var(--warning-color);
    --bg-hover: var(--warning-light);
    --bg-active: var(--warning-dark);
    --border-color: var(--warning-color);
    --border-hover: var(--warning-light);
    --border-active: var(--warning-dark);
  }

  &--error {
    --bg-color: var(--error-color);
    --bg-hover: var(--error-light);
    --bg-active: var(--error-dark);
    --border-color: var(--error-color);
    --border-hover: var(--error-light);
    --border-active: var(--error-dark);
  }

  &--flat {
    --bg-color: color-mod(var(--text-color) tint(90%));
    --bg-hover : color-mod(var(--text-color) tint(80%));
    --bg-active : color-mod(var(--text-color) tint(70%));
    --border-color: color-mod(var(--text-color) tint(90%));
    --border-hover: color-mod(var(--text-color) tint(80%));
    --border-active: color-mod(var(--text-color) tint(70%));
    --text-hover: var(--text-color);
    --text-active: var(--text-color);

    &.x-button {
      &--primary {
        --text-color: var(--primary-color);
        --bg-color: color-mod(var(--primary-color) tint(85%));
        --bg-hover : color-mod(var(--primary-color) tint(75%));
        --bg-active : color-mod(var(--primary-color) tint(65%));
        --border-color: color-mod(var(--primary-color) tint(85%));
        --border-hover: color-mod(var(--primary-color) tint(75%));
        --border-active: color-mod(var(--primary-color) tint(65%));
      }

      &--success {
        --text-color: var(--success-color);
        --bg-color: color-mod(var(--success-color) tint(85%));
        --bg-hover : color-mod(var(--success-color) tint(75%));
        --bg-active : color-mod(var(--success-color) tint(65%));
        --border-color: color-mod(var(--success-color) tint(85%));
        --border-hover: color-mod(var(--success-color) tint(75%));
        --border-active: color-mod(var(--success-color) tint(65%));
      }

      &--warning {
        --text-color: var(--warning-color);
        --bg-color: color-mod(var(--warning-color) tint(85%));
        --bg-hover : color-mod(var(--warning-color) tint(75%));
        --bg-active : color-mod(var(--warning-color) tint(65%));
        --border-color: color-mod(var(--warning-color) tint(85%));
        --border-hover: color-mod(var(--warning-color) tint(75%));
        --border-active: color-mod(var(--warning-color) tint(65%));
      }

      &--error {
        --text-color: var(--error-color);
        --bg-color: color-mod(var(--error-color) tint(85%));
        --bg-hover : color-mod(var(--error-color) tint(75%));
        --bg-active : color-mod(var(--error-color) tint(65%));
        --border-color: color-mod(var(--error-color) tint(85%));
        --border-hover: color-mod(var(--error-color) tint(75%));
        --border-active: color-mod(var(--error-color) tint(65%));
      }
    }
  }

  &--text {
    --bg-color: transparent;
    --bg-hover: transparent;
    --bg-active: transparent;
    --border-color: transparent;
    --border-hover: transparent;
    --border-active: transparent;

    &:not(.x-button--disabled) {
      &:hover {
        text-shadow: 0 0 16px currentColor;
      }
    }

    &.x-button {
      &--primary {
        --text-color: var(--primary-color);
        --text-hover: var(--primary-light);
        --text-active: var(--primary-dark);
      }

      &--success {
        --text-color: var(--success-color);
        --text-hover: var(--success-light);
        --text-active: var(--success-dark);
      }

      &--warning {
        --text-color: var(--warning-color);
        --text-hover: var(--warning-light);
        --text-active: var(--warning-dark);
      }

      &--error {
        --text-color: var(--error-color);
        --text-hover: var(--error-light);
        --text-active: var(--error-dark);
      }

      &--pure {
        height: auto;
        padding: 0;
      }
    }
  }

  &--large {
    --height: 38px;
    padding: 8px 16px;
  }

  &--small {
    --height: 24px;
    padding: 2px 8px;
    font-size: 12px;
  }

  &--round {
    border-radius: calc(var(--height) / 2);
  }

  &--full-round {
    width: var(--height);
    border-radius: 50%;
    padding: 0;
  }

  &--block {
    display: flex;
    width: 100%;
  }

  &--disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}
