:root {
  --blue: #007aff;
  --blue-light: #278eff;
  --blue-lighter: #4ea3ff;
  --blue-lightest: #76b7ff;
  --blue-dark: #0067d8;
  --blue-alpha-1: #007aff1a;
  --blue-alpha-2: #007aff33;
  --green: #2ad181;
  --green-light: #48da94;
  --green-lighter: #69e1a7;
  --green-lightest: #89e7ba;
  --green-dark: #23b06d;
  --green-alpha-1: #2ad1811a;
  --green-alpha-2: #2ad18133;
  --orange: #ffa323;
  --orange-light: #ffb34a;
  --orange-lighter: #ffc471;
  --orange-lightest: #ffd499;
  --orange-dark: #fb9200;
  --orange-alpha-1: #ffa3231a;
  --orange-alpha-2: #ffa32333;
  --red: #ea3447;
  --red-light: #ee5867;
  --red-lighter: #f17b87;
  --red-lightest: #f59fa8;
  --red-dark: #e0172c;
  --red-alpha-1: #ea34471a;
  --red-alpha-2: #ea344733;
  --grey: #bfbfbf;
  --grey-light: #d2d2d2;
  --grey-lighter: #ececec;
  --grey-lightest: #f7f7f7;
  --grey-dark: #b1b1b1;
  --black: #2c405a;
  --black-light: #6b798c;
  --black-dark: #213248;

  --primary-color: var(--blue);
  --primary-light: var(--blue-light);
  --primary-lighter: var(--blue-lighter);
  --primary-lightest: var(--blue-lightest);
  --primary-dark: var(--blue-dark);
  --primary-alpha-1: var(--blue-alpha-1);
  --primary-alpha-2: var(--blue-alpha-2);

  --success-color: var(--green);
  --success-light: var(--green-light);
  --success-lighter: var(--green-lighter);
  --success-lightest: var(--green-lightest);
  --success-dark: var(--green-dark);
  --success-alpha-1: var(--green-alpha-1);
  --success-alpha-2: var(--green-alpha-2);

  --warning-color: var(--orange);
  --warning-light: var(--orange-light);
  --warning-lighter: var(--orange-lighter);
  --warning-lightest: var(--orange-lightest);
  --warning-dark: var(--orange-dark);
  --warning-alpha-1: var(--orange-alpha-1);
  --warning-alpha-2: var(--orange-alpha-2);

  --error-color: var(--red);
  --error-light: var(--red-light);
  --error-lighter: var(--red-lighter);
  --error-lightest: var(--red-lightest);
  --error-dark: var(--red-dark);
  --error-alpha-1: var(--red-alpha-1);
  --error-alpha-2: var(--red-alpha-2);

  --inactive-color: #b0bec5;

  --text-color: #4a4a4a;
  --text-dark: #232323;
  --text-light: #acacac;

  --border-color: #c0c0c0;
  --border-light: #d4d4d4;
  --border-lighter: #dddddd;
  --border-lightest: #e7e7e7;
  --border-dark: #acacac;

  --background-color: #cfd3e0;
  --background-alpha-1: #cfd3e033;
  --background-alpha-2: #cfd3e066;
}
