:root {
    --primary-color: #6190E8;
    --primary-light: #79A1EB;
    --primary-dark: #5988E5;

    --success-color: #13CE66;
    --success-light: #36D57D;
    --success-dark: #11C95E;

    --warning-color: #FFC82C;
    --warning-light: #FFD04C;
    --warning-dark: #FFC227;

    --error-color: #FF4949;
    --error-light: #FF6464;
    --error-dark: #FF4242;

    --inactive-color: #B0BEC5;

    --header-text-color: #2C405A;
    --primary-text-color: #3F536E;
    --secondary-text-color: #96A0AD;
    --light-text-color: #C0C6CE;

    --border-color: #C5D9E8;
    --border-dark: #A3C0D8;
    --border-split: color-mod(var(--border-color) tint(20%));
    --border-light: color-mod(var(--border-color) tint(30%));
    --border-lighter: color-mod(var(--border-color) tint(50%));
    --border-lightest: color-mod(var(--border-color) tint(80%));

    --background-blue: #ECF5FD;
    --background-blue-light: #F2F8FE;
    --background-blue-dark: #E7F2FC;
    --background-blue-extra-dark: #DFEEFC;
    --background-white: #FAFBFC;

    --blue: #6190E8;
    --blue-light: #79A1EB;
    --blue-dark: #5988E5;
    --green: #13CE66;
    --green-light: #36D57D;
    --green-dark: #11C95E;
    --orange: #FFC82C;
    --orange-light: #FFD04C;
    --orange-dark: #FFC227;
    --red: #FF4949;
    --red-light: #FF6464;
    --red-dark: #FF4242;
    --grey: #BFBFBF;
    --grey-light: #D2D2D2;
    --grey-lighter: #ECECEC;
    --grey-lightest: #F7F7F7;
    --grey-dark: #B1B1B1;
    --black: #2C405A;
    --black-light: #6B798C;
    --black-dark: #213248;
    --text: #263238;
    --text-light: #455A64;
    --text-extra-light: #8DABC4;
    --text-title: #2C405A;
    --text-body: #3F536E;
}