@import '../common/color.css';

:root {
    --default-height: 32px;
    --large-height: 38px;
    --small-height: 26px;
}

.x-input {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: var(--default-height);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    transition: all 0.2s;

    &:hover {
        border-color: var(--primary-color);
    }

    & .x-input__content {
        position: relative;
        outline: none;
        border: none;
        min-width: 0;
        flex: 1;
        padding: 0 10px;
        background: transparent;
        font-size: inherit;
        line-height: inherit;
        color: var(--primary-text-color);
    }

    & .x-input__content::placeholder {
        font-size: inherit;
        color: var(--grey-light);
    }

    & .x-input__content:-webkit-autofill {
        transition: background-color 5000s ease-in;
    }

    & .x-input__content:-moz-ui-invalid {
        box-shadow: none; 
    }
}

.x-input--focused {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px var(--primary-color);
}

/*
 * prefix & suffix
 */
.x-input__prefix,
.x-input__suffix {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    line-height: inherit;
    color: var(--border-color);
    white-space: nowrap;
    overflow: hidden;
}

.x-input__prefix--str {
    padding-left: 10px;
}
.x-input__suffix--str {
    padding-right: 10px;
}

/*
 * size
 */
.x-input--large {
    height: var(--large-height);
    font-size: 14px;
}

.x-input--small {
    height: var(--small-height);
}

/*
 * disabled
 */
.x-input--disabled {
    background: var(--grey-lightest);
    border-color: var(--grey-lighter);
    color: var(--grey-light);
    cursor: not-allowed;

    &:hover {
        border-color: var(--grey-lighter);
    }
}

.x-input--disabled input {
    cursor: not-allowed;

    &::placeholder {
        color: var(--grey-light);
    }
}

.x-input--disabled.x-input--focused {
    border-color: var(--grey-lighter);
}

/*
 * round
 */
.x-input--round {
    padding: 0 6px;
    border-radius: calc(var(--default-height) / 2);
}

.x-input--round.x-input--large {
    border-radius: calc(var(--large-height) / 2);
}

.x-input--round.x-input--small {
    border-radius: calc(var(--small-height) / 2);
}

/*
 * textarea
 */
.x-textarea {
    height: auto;

    & .x-input__content {
        padding: 4px 10px;
        line-height: 1.5;
        resize: vertical;
    }
}
