@import '../../common/color.css';

.x-form {
  --default-height: 32px;
}

.x-form-item {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  &__label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 16px;
    line-height: 1;
    font-size: 14px;
    color: var(--text-color);
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    min-height: var(--default-height);
  }
  
  &__message {
    position: absolute;
    top: calc(100% - 4px);
    left: 0;
    padding-top: 4px;
    line-height: 1;
    font-size: 12px;
    color: var(--error-color);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
  }
}

.x-form--label-top .x-form-item {
  flex-direction: column;

  &__label {
    justify-content: flex-start;
    padding-bottom: 10px;
  }

  &__content {
    align-self: stretch;
  }
}

.x-form-item--invalid {
  & .x-input {
    border-color: var(--error-color);

    &:hover:not(.x-input--disabled) {
      border-color: var(--error-color);
    }

    &--focused {
      border-color: var(--error-color);
      box-shadow: 0 0 8px -2px var(--error-color);
    }
  }

  & .x-form-item__message {
    transform: translateY(4px);
    opacity: 1;
    visibility: visible;
  }
}
